@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,800,800italic,700italic,700,600italic,600,400italic,300italic,300");
@media screen and (max-device-width: 1300px) {
  .home form {
    margin: 20% 10%;
    font-family: "Open Sans";
    width: 80%;
  }
  .home form input {
    width: 100% !important;
    float: left;
    padding: 0.3em;
    box-sizing: border-box;
  }
  .home form span {
    padding: 0.2em;
    font-size: 2em;
    text-align: center;
    background-color: #000;
    color: #fff;
    width: 100%;
    float: left;
    margin-top: 2%;
    box-sizing: border-box;
  }
  .home form span:hover {
    cursor: pointer;
  }
  .content {
    width: 92%;
    margin: 4%;
    box-sizing: border-box;
    padding: 3%;
  }
  form button {
    width: 70%;
    margin: 1em 30%;
  }
}
