
fnt-title 			=	"helvetica"
fnt-text 			=	"helvetica"

clr-title 			=	#34495e
clr-title-hov 		=	#566b80

html, body
	padding 			0
	margin 				0
	
h1
	margin 				0

main
	width 				100%
	float 				left
	background-color 	#f2f2f2
	min-height 			100vh
	
.home
	background-image	url('https://pixabay.com/static/uploads/photo/2016/02/07/21/11/computer-1185637_960_720.jpg')
	background-size 	cover
	background-attachment fixed
	background-position 10%
	min-width 			100vw
	min-height 			100vh
	form
		margin 20% auto
		font-family fnt-text
		width 30%
	input
		border none
		padding 0.2em
		font-size 	2em
		text-align center
		background-color rgba(255,255,255,0.9)
		width 79%
		float left
	span
		padding 0.2em
		font-size 	2em
		text-align center
		background-color clr-title
		color white
		width 13%
		float left
	span:hover
		cursor pointer
		

.my-forms
	background-color 	#ecf0f1
	margin 				30px
	min-height			50px
	font-size 			200%
	text-align			left
	padding 			20px
	.fa
		float			right
		margin  		10px
		
	.fa:hover
		color			#7f8c8d
		cursor			pointer
	


.title
	background-color 	clr-title
	color 				white
	font-family 		fnt-title
	padding 			0.5em
	font-weight 		300
	letter-spacing 		0.1em

.student-form
	width 				80%
	background-color 	white
	margin 				0 auto 5em auto
	font-family 		fnt-text
	border 				1px solid #d2d2d2
	button
		border 			none
		background-color clr-title
		color white
		font-family fnt-text
		font-size 2em
		width 100%
		padding 0.2em
	button:hover
		cursor pointer
		background-color clr-title-hov


.teacher
	font-family 		fnt-text
	text-align			center
	.answers
		float			left
		font-size		150%
		margin-left		30%
		text-align		left
		width			100%

	button
		background-color	#ecf0f1
		margin 				30px
		font-size			150%
	input
		background-color	#ecf0f1
		margin 				30px
		font-size			150%
		text-align			center
	select
		width				200px
		font-size			150%

.teacher-form
	width 				80%
	background-color 	white
	margin 				0 auto 5em auto
	font-family 		fnt-text
	border 				1px solid #d2d2d2
	.add-button	
		margin-top			20px
		margin-bottom		20px
	
.question-box
	width 				80%
	margin 				0 auto
	border-bottom 		1px solid #f2f2f2
	padding 			1em
	
	