<div ng-include="'views/header.html'"></div>
<main>
	<div class="content">

		<h1 class="title" ng-hide="var.newForm==true">Undersökningar</h1>
		
		<form>
		<button ng-click="var.newForm=true" ng-hide="var.newForm==true">Nytt frågeformulär</button>
		</form>
		
		<div ng-include="'views/newForm.html'" ng-show="var.newForm==true"></div>
		
		<div class="my-forms" ng-repeat="form in var.fs track by $index" ng-hide="var.newForm">
			{{form.title}}
			<i class="fa fa-play" aria-hidden="true"></i>
			<i class="fa fa-pencil" aria-hidden="true"></i>
		</div>

	</div>
</main>
<div ng-include="'views/footer.html'"></div>
